.react-grid-item.react-grid-placeholder {
  --bg-color: color-mix(in oklab, var(--primary) 60%, transparent);
  background: var(--bg-color) !important;
  border: 1px solid transparent !important;
  opacity: 1 !important;
  z-index: 1 !important;
  border-radius: var(--radius-xl) !important;
  outline: 0px solid var(--bg-color) !important;
  animation: outline-grow 0.3s ease forwards;
}

@keyframes outline-grow {
  to {
    outline: 5px solid var(--bg-color);
  }
}
